@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #1E1E1E;
  font-family: Mulish, sans-serif;

  display: grid;
  justify-content: center;

  padding: 4.5rem 6.5rem;
}

header{
  margin-bottom: 2.8rem;
}

header h1{
  color: #02799D;

  font-size: 3rem;
  font-weight: 900;
}

header span{
  color: #E1E1E6;

  font-size: 1.5rem;
  font-weight: 600;
}

main{
  display: grid;
  grid-template-columns: repeat(3, 22rem);
  place-content: center;

  gap: 3rem 3.75rem;
}

.card{
  background: #202024;

  border: 2px solid #323238;
  border-radius: 8px;

  overflow: hidden;
}


.card h2{
  color: #E1E1E6;

  font-size: 1.8rem;
  font-weight: 900; 

  padding: 8px 2rem 0;
}

.card p{
  color: #C4C4CC;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 12px 2rem 2rem;
}